.bg-img{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/375/901/153/king-kong-2005-poster-monkey-girl-wallpaper-preview.jpg');
    height: 400px;
    width: 100%;
    background-position: 0px -240px;
    background-repeat: no-repeat;
    background-size: cover;
}