.bg-img{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/375/901/153/king-kong-2005-poster-monkey-girl-wallpaper-preview.jpg');
    /* background-image: url('../../assets/Yellow\ Background\ Radiation\ Pop\ Wind\ Wave\ Point\,\ Carnival\,\ Explosion\ Frame\,\ Yellow\ Background\ Background\ Image\ And\ Wallpaper\ for\ Free\ Download.jfif'); */
    height: 400px;
    width: 100%;
    background-position: 0 3px;

    background-repeat: no-repeat;
    background-size: cover;
}