.bg-img{
    background-image: url('https://img.freepik.com/free-vector/cinema-stage-background-with-clapperboard-popcorn-chairs_1017-38722.jpg?w=1380&t=st=1715325418~exp=1715326018~hmac=e3f48fec8a2351e2aefaa66d86e9132f9df762d59ca12d1ecb002bad5b169b90');
    height: 400px;
    width: 100%;
    background-position: center;
}